In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("Real estate.csv")
data.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [3]:
data.drop(['No','X1 transaction date'], axis = 1, inplace=True)

In [4]:
data.head()

,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,32.0,84.87882,10,24.98298,121.54024,37.9
1,19.5,306.59470,9,24.98034,121.53951,42.2
2,13.3,561.98450,5,24.98746,121.54391,47.3
3,13.3,561.98450,5,24.98746,121.54391,54.8
4,5.0,390.56840,5,24.97937,121.54245,43.1

In [5]:
data.shape

(414, 6)

In [6]:
Y = data.pop('Y house price of unit area')
X = data

In [7]:
from sklearn.preprocessing import MinMaxScaler

XScaler = MinMaxScaler()
xScaled = XScaler.fit_transform(X)
X = pd.DataFrame(xScaled, columns=X.columns)
X.head()

,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude
0,0.730594,0.009513,1.0,0.616941,0.719323
1,0.445205,0.043809,0.9,0.584949,0.711451
2,0.303653,0.083315,0.5,0.671231,0.758896
3,0.303653,0.083315,0.5,0.671231,0.758896
4,0.114155,0.056799,0.5,0.573194,0.743153

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size=0.7, random_state=456)

In [9]:
from sklearn.linear_model import Ridge, Lasso, LinearRegression
from sklearn.metrics import r2_score, mean_squared_error

model_Ridge = Ridge(alpha=5)
model_Ridge_fit = model_Ridge.fit(X_train, Y_train)
model_Ridge_pred = model_Ridge_fit.predict(X_test)

print(r2_score(Y_test, model_Ridge_pred))
# print(mean_squared_error(Y_test, model_Ridge_pred))

0.5816638921225121

In [10]:
model_Lasso = Lasso(alpha=10)
model_Lasso_fit = model_Lasso.fit(X_train, Y_train)
model_Lasso_pred = model_Lasso_fit.predict(X_test)

print(r2_score(Y_test, model_Lasso_pred))
# print(mean_squared_error(Y_test, model_Lasso_pred))

-0.013193277059085906

In [11]:
model_LR = LinearRegression()
model_LR_fit = model_LR.fit(X_train, Y_train)
model_LR_pred = model_LR_fit.predict(X_test)

print(r2_score(Y_test, model_LR_pred))

0.5451590919242163

In [12]:
from sklearn.decomposition import PCA

pca = PCA(n_components=3)
X_red = pd.DataFrame(pca.fit_transform(X))
X_red.head()

          0         1         2
0 -0.612362  0.323975  0.174641
1 -0.496452  0.040753  0.170239
2 -0.200664 -0.110922 -0.091957
3 -0.200664 -0.110922 -0.091957
4 -0.174388 -0.300863 -0.053366

In [13]:
X_train_red, X_test_red, Y_train_red, Y_test_red = train_test_split(X_red, Y, train_size=0.7, random_state=456)

In [14]:
model_Ridge = Ridge(alpha=5)
model_Ridge_fit = model_Ridge.fit(X_train_red, Y_train_red)
model_Ridge_pred = model_Ridge_fit.predict(X_test_red)

print(r2_score(Y_test_red, model_Ridge_pred))

model_Lasso = Lasso(alpha=10)
model_Lasso_fit = model_Lasso.fit(X_train_red, Y_train_red)
model_Lasso_pred = model_Lasso_fit.predict(X_test_red)

print(r2_score(Y_test_red, model_Lasso_pred))

model_LR = LinearRegression()
model_LR_fit = model_LR.fit(X_train_red, Y_train_red)
model_LR_pred = model_LR_fit.predict(X_test_red)

print(r2_score(Y_test_red, model_LR_pred))

0.5658555451692415
-0.013193277059085906
0.5363899204029305